<%= form_for(@key, remote: true) do |f| %>
  <% if @key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@key.errors.count, "error") %> prohibited this key from being saved:</h2>

      <ul>
      <% @key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel callout radius">
    <div class="field">
      <%= f.label :company %><br>
      <%#= f.text_field :company %>
      <%= f.select(:company, grouped_options_for_select(@grouped_options), prompt: 'Choose Company') %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.number_field :number %>
    </div>
    <div class="field">
      <%= f.label :checkout %><br>
      <%= f.date_field :checkout %>
    </div>
    <div class="field">
      <%= f.label :checkin %><br>
      <%= f.date_field :checkin %>
    </div>
    
  </div>

  <div class="row">
    <div class="small-6 columns">
      <%= f.submit(class: 'button tiny radius') %>
    </div>
    <div class="small-6 columns">
      <%= link_to("Cancel", "#", id: "bCancel", class: "button tiny radius") %>
    </div>
  </div>

<% end %>
